# Dependency directories
node_modules/
pnpm-lock.yaml
yarn.lock

# Build output
dist/
build/

# Environment variables
.env

# System files
.DS_Store
Thumbs.db
npm-debug.log*

# Editor directories
.vscode/
.idx/
.idea/